body {
    background-color: #152b3b;
    margin-bottom: 0;
    padding: 0;
}

#logo {
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
    border-radius: 10%;
}

#toptitle {
    background: linear-gradient(135deg, #264052 60%, #1a3447 60%);
    padding: 3%;
    
}

.main_text {
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #098f1d;
}

.des_text {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ebebeb;
}

#body {
    height: auto;
    background-color: #152b3b;
    margin:0%;
    padding: 0%;
}

#item {
    width: 100%;
    height: auto;
    margin-top: 3%;
    padding: 1%;
    float: left;
    background-color: #152b3b;
}

#photo_backdrop {
    background-color: rgba(1,1,1,0.1);
    float: left;
    width: 50%;
    border-radius: 10%;
    margin: 10% 25% 10% 25%;
}

#item_photo {
    width: 50%;
    float: left;
    background-color: #152b3b;
}

#item_des {
    width: 50%;
    color: white;
    float: right;
    background-color: #152b3b;
}

#cost {
    width: 30%;
    float: left;
    text-align: left;
    margin: 0;
}

button {
    float: right;
    width: auto;
    margin: 1%;
    text-align: center;
    display:block;
    border: none;
    border-radius: 35%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0;
    padding-bottom: 0;
}